body{
	background-color: lightblue;
}
	header,footer{
		background-color: blue;
		color: white;
		width: 100%;

		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;
		margin-top: 20px;
	}

nav{
  background-color: red;
	border-top: thin #5b7d87 solid;
	border-bottom: thin #5b7d87 solid;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
}

nav .btn{
	background-color: blue;
	color: white;
}
/* 
nav .btn:visited{
	background-color: white;
	color: red;
	text-decoration: line-through;
} */

nav .btn:hover{
	font-weight: bold;
}
